<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Business</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            Your Store Name
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="span-content">Place</span> |
            <span class="span-content">2 outlets</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
    <ion-card-content>
      <div class="container">
        <div class="scroll" scrollX="true">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let t of revenue | keyvalue">
                <div style="display: flex; flex-direction: column;">
                  <span>{{t.key | titlecase}}</span>
                  <span>Rs.{{t.value.totalRevenue}}</span>
                  <span>{{t.value.totalProducts}} orders</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
