<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let product of products | keyvalue">
    <ion-item>
      <ion-label>{{product.key}}</ion-label>
      <ion-icon
        name="arrow-down-circle"
        size="large"
        (click)="showItems = !showItems"
        *ngIf="!showItems"
      ></ion-icon>
      <ion-icon
        name="arrow-up-circle"
        size="large"
        (click)="showItems = !showItems"
        *ngIf="showItems"
      ></ion-icon>
    </ion-item>
    <ion-list *ngFor="let subprod of product.value | keyvalue">
      <ion-item>
        <ion-label>{{subprod.key}}</ion-label>
        <ion-icon
          name="arrow-down-circle"
          size="large"
          (click)="showItems = !showItems"
          *ngIf="!showItems"
        ></ion-icon>
        <ion-icon
          name="arrow-up-circle"
          size="large"
          (click)="showItems = !showItems"
          *ngIf="showItems"
        ></ion-icon>
      </ion-item>
      <ng-container *ngIf="showItems">
        <ng-container *ngFor="let item of subprod.value">
            <ng-container [ngTemplateOutlet]="menuItem"></ng-container>
          </ng-container>
      </ng-container>
    </ion-list>
    <ng-container [ngTemplateOutlet]="menuItem"></ng-container>
  </ion-list>
</ion-content>

<ng-template #menuItem>
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary"
        ><ion-chip color="primary">New</ion-chip></ion-card-title
      >
      <ion-grid>
        <ion-row>
          <ion-col>
            <span style="font-weight: 600; font-size: 18px;">#123</span>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" size="small" [routerLink]="['/order', 1]"
              >View Order</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="span-content">
              1 item
            </span>
          </ion-col>
          <ion-col>
            <span class="span-content">
              Rs.200
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="span-content">
              Srikanth
            </span>
          </ion-col>
          <ion-col>
            <span class="span-content">
              7299933974
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-template>
