<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button fill="outline" (click)="canAddCateg()">Add Category</ion-button>
  <ion-item *ngIf="canAddCategory">
    <ion-input
      placeholder="Enter a category"
      [(ngModel)]="newCategory"
    ></ion-input>
    <ion-icon name="add" (click)="addCategory()"></ion-icon>
  </ion-item>
  <ion-list *ngFor="let product of products | keyvalue">
    <ion-item>
      <ion-label
        ><span style="font-weight: 600; font-size: 20px;">{{product.key}}</span>
      </ion-label>
      <ion-icon name="add" (click)="addItemOrSubcateg()"></ion-icon>
      <ion-icon
        name="create"
        (click)="editCategoryAlert('category', product.key)"
      ></ion-icon>
      <ion-icon
        name="arrow-down-circle"
        size="small"
        (click)="product.expand = true"
        *ngIf="!product.expand"
      ></ion-icon>
      <ion-icon
        name="arrow-up-circle"
        size="small"
        (click)="product.expand = false"
        *ngIf="product.expand"
      ></ion-icon>
    </ion-item>
    <ng-container *ngIf="!product.value.length && !product.expand">
      <ion-list *ngFor="let subprod of product.value | keyvalue">
        <ion-item>
          <ion-label>{{subprod.key}}</ion-label>
          <ion-icon name="add" (click)="addItem()"></ion-icon>
          <ion-icon
            name="create"
            (click)="editCategoryAlert('subcategory', subprod.key)"
          ></ion-icon>
          <ion-icon
            name="arrow-down-circle"
            size="small"
            (click)="subprod.expand = true"
            *ngIf="!subprod.expand"
          ></ion-icon>
          <ion-icon
            name="arrow-up-circle"
            size="small"
            (click)="subprod.expand = false"
            *ngIf="subprod.expand"
          ></ion-icon>
        </ion-item>
        <ng-container *ngIf="!subprod.expand">
          <ng-container
            [ngTemplateOutlet]="menuList"
            [ngTemplateOutletContext]="{items: subprod.value}"
          ></ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="product.value.length && !product.expand">
      <ng-container
        [ngTemplateOutlet]="menuList"
        [ngTemplateOutletContext]="{items: product.value}"
      ></ng-container>
    </ng-container>
  </ion-list>
</ion-content>

<ng-template #menuList let-items="items">
  <ng-container *ngFor="let item of items">
    <ng-container
      [ngTemplateOutlet]="menuItem"
      [ngTemplateOutletContext]="{item: item}"
    ></ng-container>
  </ng-container>
</ng-template>

<ng-template #menuItem let-item="item">
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary"
        ><div style="display: flex; justify-content: space-between;">
          <span>{{item.id}} - {{item.productName}}</span>
          <span>{{item.brandName}}</span>
        </div></ion-card-title
      >
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-img [src]="item.productImgUrl"></ion-img>
          </ion-col>
          <ion-col size="9">
            <ion-row>
              <ion-col size="4">
                <span class="span-content">
                  {{item.max_quantity}} item
                </span>
              </ion-col>
              <ion-col size="8">
                <span>
                  MRP:Rs.
                </span>
                <span class="span-mrp">
                  {{item.mrp}}
                </span>
                <span class="span-content">
                  {{item.price}}
                </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                {{item.itemShortDescription}}
              </ion-col>
              <ion-col size="4">
                <div style="display: flex; justify-content: space-between;">
                  <ion-icon
                    name="create"
                    size="large"
                    (click)="updateItem(item)"
                  ></ion-icon>
                  <ion-icon
                    name="trash"
                    size="large"
                    (click)="deleteItem(item)"
                  ></ion-icon>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-template>
