.span-content {
  font-weight: 400;
  font-size: 16px;
}

.span-weight {
  @extend .span-content;
  padding: 2px 5px;
}

.span-quantity {
  @extend .span-content;
  padding: 2px 5px;
  background-color: rgb(159, 159, 161);
  color: white;
}

ion-col {
  --ion-grid-column-padding: 0;
}

ion-icon {
  padding-right: 10px;
}

// .product-modal {
//   .modal-wrapper {
//     position: absolute;
//     display: block;
//     top: 100px;
//     height: 200px;
//     width: 100%;
//   }
// }
