<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="order">Order #{{order.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="order && order.orderProducts.length">
  <ion-card *ngFor="let product of order.orderProducts">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3" pull="1">
            <ion-img [src]="product.productImgUrl"></ion-img>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <span class="span-content">{{product.productName}}</span>
              </ion-col>
              <ion-col class="ion-align-items-end">
                <span class="span-content">{{product.brandName}}</span>
              </ion-col>
            </ion-row>
            <br />
            <ion-row>
              <ion-col>
                <div style="display: flex;">
                  <span class="span-weight"
                    >{{product.weight}}{{product.unit}}</span
                  >
                  <span class="span-quantity">{{product.quantity}}</span>
                </div>
              </ion-col>
              <ion-col
                *ngIf="order.orderStatus !== 'STORE_CANCELLED'
              && order.orderStatus !== 'CUSTOMER_CANCELLED'
              && order.orderStatus !== 'DELIVERED'"
              >
                <ion-icon
                  name="create"
                  size="large"
                  (click)="editProduct(product)"
                ></ion-icon>
                <ion-icon
                  name="checkmark-circle-outline"
                  size="large"
                  *ngIf="!selected"
                  (click)="onProductSelect()"
                ></ion-icon>
                <ion-icon
                  name="checkmark-circle"
                  size="large"
                  *ngIf="selected"
                ></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
