<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>
      Current Orders
    </ion-label>
  </ion-item>
  <ion-card *ngFor="let order of currentOrders">
    <ion-card-content>
      <ion-card-title>
        <ion-chip color="success" *ngIf="order.orderStatus === 'NEW'"
          >{{order.orderStatus | titlecase}}</ion-chip
        >
        <ion-chip color="primary" *ngIf="order.orderStatus !== 'NEW'"
          >{{order.orderStatus | titlecase}}</ion-chip
        >
      </ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span style="font-weight: 600; font-size: 18px;"
              >#{{order.id}}</span
            >
          </ion-col>
          <ion-col>
            <ion-button
              fill="outline"
              size="small"
              [routerLink]="['/order', order.id]"
              >View Order</ion-button
            >
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="span-content">
              {{order.totalNumOfProducts == '1' ? '1 item':
              order.totalNumOfProducts + ' items'}}
            </span>
          </ion-col>
          <ion-col>
            <span class="span-content">
              Rs.{{order.billTotal}}
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="span-content">
              {{order.customer.name}}
            </span>
          </ion-col>
          <ion-col>
            <span class="span-content">
              {{order.customer.mobileNumber}}
            </span>
          </ion-col>
        </ion-row>
        <hr />
        <ion-row>
          <ion-col>
            <ion-button
              color="success"
              (click)="updateOrderStatus(order)"
              *ngIf="order.orderStatus.toLowerCase() === 'new'"
              >Accept</ion-button
            >
            <ion-button
              color="success"
              (click)="updateOrderStatus(order)"
              *ngIf="order.orderStatus.toLowerCase() === 'accepted'"
              >Prepare</ion-button
            >
            <ion-button
              color="success"
              (click)="updateOrderStatus(order)"
              *ngIf="order.orderStatus.toLowerCase() === 'preparing'"
              >Ready</ion-button
            >
            <ion-button
              color="success"
              (click)="updateOrderStatus(order)"
              *ngIf="order.orderStatus.toLowerCase() === 'ready to pickup'"
              >Deliver</ion-button
            >
          </ion-col>
          <ion-col>
            <ion-button
              color="danger"
              *ngIf="order.orderStatus.toLowerCase() === 'new'"
              (click)="updateOrderStatus(order, true)"
              >Reject</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
