<ion-list class="ion-no-padding-top">
    <ion-item-divider sticky="true" class="ion-no-padding">
      <ion-grid *ngIf="user">
        <ion-row>
          <ion-col size="9">
            <ion-row>
              <ion-col>
                <span class="span-name">{{user.name}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">{{user.mobileNumber}}</ion-col>
              <ion-col size="8">{{user.email}}</ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="3"
            ><ion-button color="secondary" (click)="editProfile()"
              >Edit</ion-button
            ></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-item-divider>
    <hr />
    <ion-item (click)="logout()"
      ><ion-icon name="power-outline" slot="start"></ion-icon
      ><ion-label class="span-list-item">Logout</ion-label></ion-item
    >
  </ion-list>
  