.span-content {
  font-weight: 400;
  font-size: 16px;
}
.span-mrp {
  @extend .span-content;
  font-size: 16px;
  text-decoration: line-through;
}
.span-price {
  font-weight: 500;
  font-size: 20px;
  color: red;
}
